---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div style="display: flex; justify-content: space-between;">
      <div class="fi mt-2">
        <a href="https://namewithai.com" class="gpt-title">Name With Ai</a>
        <a href="https://namewithai.com" class="gpt-subtitle"> Generator </a>
      </div>
      <div class="fb items-center">
        <Themetoggle />
      </div>
    </div>
</header>
